.modal__container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15rem;
    height: 15rem;
    background-color: white;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;  
}

.modal__close:hover{
  color: grey;
}

.modal__button-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;  
}

.modal__link {
  text-decoration: none;
}