.fights__container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.fights__list {
  padding: 0;
  list-style-type: none;
  width: 90%;
}

.fights__list:last-child {
  border-bottom: 1px solid black;
}