.fight__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-bottom: none;   
}

.fight__container:hover {
    background-color: lightgray;
}

.fight__fighter {
    display: flex;
    width: 45%;
    justify-content: space-around;
}